{
  "input": {
    "hostName": "localhost"
    "portNumber": 5672
    "userName": "guest"
    "password": "guest"
    "virtualHost": "/"
    "queue": "raw"
  }

  "output": {
    "good": {
      "hostName": "localhost"
      "portNumber": 5672
      "userName": "guest"
      "password": "guest"
      "virtualHost": "/"
      "queue": "enriched"
    }

    "bad": {
      "hostName": "localhost"
      "portNumber": 5672
      "userName": "guest"
      "password": "guest"
      "virtualHost": "/"
      "queue": "bad-1"
    }
  }
}
